.footer {
  padding: 1rem 5%;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5e5;
}

.footer-icons {
  display: flex;
  gap: 1.3rem;
  margin: 1rem 0;
}

.footer-icons img {
  width: 30px;
  cursor: pointer;
}

.footer ol {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  margin-bottom: 2rem;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 1rem;
  color: #e5e5e5e5;
  
}

.footer .copyright-text {
  color: crimson;
  text-align: center;
}
